body {
}

td
{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    align-content:center;
    vertical-align:central;
}

.Img2{
    background-image: url("../images/2.jpg");
    background-size: 100px;
}
.Img4{
    background-image: url("../images/4.jpg");
    background-size: 100px;
}
.Img8{
    background-image: url("../images/8.jpg");
    background-size: 100px;
}
.Img16{
    background-image: url("../images/16.jpg");
    background-size: 100px;
}
.Img32{
    background-image: url("../images/32.jpg");
    background-size: 100px;
}
.Img64{
    background-image: url("../images/64.jpg");
    background-size: 100px;
}
.Img128{
    background-image: url("../images/128.jpg");
    background-size: 100px;
}
.Img256{
    background-image: url("../images/256.jpg");
    background-size: 100px;
}
.Img512{
    background-image: url("../images/512.jpg");
    background-size: 100px;
}
.Img1024{
    background-image: url("../images/1024.jpg");
    background-size: 100px;
}
.Img2048{
    background-image: url("../images/2048.jpg");
    background-size: 100px;
}